@import url("https://cdnjs.cloudflare.com/ajax/libs/inter-ui/3.18.0/inter.css");
@import "tailwindcss/base";
@import "tailwindcss/utilities";

.light * {
  --color-button-text: #fff;
  --color-primary-100: #dee3ea;
  --color-primary-200: #b2bdcd;
  --color-primary-300: #5d7290;
  --color-primary-600: #323d4d;
  --color-primary-700: #242c37;
  --color-primary-800: #151a21;
  --color-primary-900: #0b0e11;
}
.dark * {
  --color-button-text: #5d7290;
  --color-primary-900: #dee3ea;
  --color-primary-800: #b2bdcd;
  --color-primary-700: #5d7290;
  --color-primary-600: #323d4d;
  --color-primary-300: #242c37;
  --color-primary-200: #151a21;
  --color-primary-100: #0b0e11;
}
ol > li::marker {
  font-weight: bold;
}
:root {
  font-size: 17px;
  --color-secondary-washed-out: #879eed;
  --color-secondary: #5575e7;
  --color-accent-glow: rgba(253, 77, 77, 0.3);
  --color-accent: #fd4d4d;
  --color-accent-hover: #fd6868;
  --color-accent-disabled: #f5bfbf;
  --screen-height-reduction: 0px;
  --color-primary-100-translucent: rgba(222, 227, 234, 0.15);
}
